<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Param "description" }}">
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700;900&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
{{ if .Site.Params.giscus.enable }}
<script src="https://giscus.app/client.js"
  data-repo="{{ .Site.Params.giscus.repo }}"
  data-repo-id="{{ .Site.Params.giscus.repoId }}"
  data-category="{{ .Site.Params.giscus.category }}"
  data-category-id="{{ .Site.Params.giscus.categoryId }}"
  data-mapping="{{ .Site.Params.giscus.mapping }}"
  data-strict="0"
  data-reactions-enabled="{{ .Site.Params.giscus.reactionsEnabled }}"
  data-emit-metadata="{{ .Site.Params.giscus.emitMetadata }}"
  data-input-position="{{ .Site.Params.giscus.inputPosition }}"
  data-theme="{{ .Site.Params.giscus.theme }}"
  data-lang="{{ .Site.Params.giscus.lang }}"
  crossorigin="anonymous"
  async>
</script>
{{ end }}